/*
 * Tweak the overal size to better match RTD.
 */
body {
  font-size: 90%;
}
h3,
h4,
h5,
h6 {
  color: #2980b9;
  font-weight: 300;
}
/*
 * Sphinx doesn't have support for section dividers like we do in
 * MkDocs, this styles the section titles in the nav
 *
 * https://github.com/mkdocs/mkdocs/issues/175
 */
.wy-menu-vertical span {
  line-height: 18px;
  padding: 0.4045em 1.618em;
  display: block;
  position: relative;
  font-size: 90%;
  color: #838383;
}
.wy-menu-vertical .subnav a {
  padding: 0.4045em 2.427em;
}
/*
 * Long navigations run off the bottom of the screen as the nav
 * area doesn't scroll.
 *
 * https://github.com/mkdocs/mkdocs/pull/202
 */
.wy-nav-side {
  height: 100%;
  overflow-y: auto;
}
/*
 * readthedocs theme hides nav items when the window height is
 * too small to contain them.
 *
 * https://github.com/mkdocs/mkdocs/issues/#348
 */
.wy-menu-vertical ul {
  margin-bottom: 2em;
}
/*
 * Fix wrapping in the code highlighting
 *
 * https://github.com/mkdocs/mkdocs/issues/233
 */
code {
  white-space: pre;
}
/*
 * Wrap inline code samples otherwise they shoot of the side and
 * can't be read at all.
 *
 * https://github.com/mkdocs/mkdocs/issues/313
 */
p code {
  word-wrap: break-word;
}
/*
 * The CSS classes from highlight.js seem to clash with the
 * ReadTheDocs theme causing some code to be incorrectly made
 * bold and italic.
 *
 * https://github.com/mkdocs/mkdocs/issues/411
 */
code.cs,
code.c {
  font-weight: inherit;
  font-style: inherit;
}
/*
 * Fix some issues with the theme and non-highlighted code
 * samples. Without and highlighting styles attached the
 * formatting is broken.
 *
 * https://github.com/mkdocs/mkdocs/issues/319
 */
.no-highlight {
  display: block;
  padding: 0.5em;
  color: #333;
}
/*
 * Additions specific to the search functionality provided by MkDocs
 */
#mkdocs-search-results article h3 {
  margin-top: 23px;
  border-top: 1px solid #E1E4E5;
  padding-top: 24px;
}
#mkdocs-search-results article:first-child h3 {
  border-top: none;
}
#mkdocs-search-query {
  width: 100%;
  border-radius: 50px;
  padding: 6px 12px;
  border-color: #D1D4D5;
}
.wy-menu-vertical li ul {
  display: inherit;
}
.wy-menu-vertical li ul.subnav ul.subnav {
  padding-left: 1em;
}
/*
 * Improve inline code blocks within admonitions.
 *
 * https://github.com/mkdocs/mkdocs/issues/656
 */
div.admonition code {
  color: #404040;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.7);
}
a {
  color: #51bcb6;
}
a:hover,
a:visited {
  color: #51bcb6;
  opacity: 0.8;
}
h2,
h3,
h4,
h5,
h6 {
  color: #51bcb6;
}
hr {
  border-top: solid 1px #eceff4;
}
.wy-nav-top {
  background: #51bcb6;
}
.wy-nav-top a {
  color: #fff;
  font-size: 18px;
}
.wy-nav-top i {
  font-size: 20px;
  margin-top: 15px;
}
.wy-nav-side {
  background: #eceff4;
}
.wy-side-nav-search {
  background: #51bcb6;
}
.wy-side-nav-search img {
  background: none;
  width: 120px;
  height: 48px;
  border-radius: 0;
  padding: 0;
  margin: 0;
}
.wy-side-nav-search a:hover {
  background: none;
}
.wy-side-nav-search input[type=text] {
  border-color: #51bcb6;
}
.wy-menu-vertical ul {
  margin-bottom: 0;
}
.wy-menu-vertical a {
  font-size: 16px;
}
.wy-menu-vertical li.toctree-l1 a {
  color: #6e8093 !important;
  padding: 0.6em 1.6em;
  border-left: solid 5px transparent;
}
.wy-menu-vertical li ul.subnav li a {
  color: #abb6c3 !important;
  padding: 0.6em 2.6em;
  border-left: solid 5px transparent;
}
.wy-menu-vertical span {
  line-height: 18px;
  padding: 0.6em 1.6em;
  font-size: 16px;
  color: #353535;
}
.wy-menu-vertical li.current a {
  border: 0;
  background: #d9dfe9;
  border-left: solid 5px #f1867e !important;
}
.wy-menu-vertical li.current a:hover {
  background: #d9dfe9;
  opacity: 1.0;
}
.wy-menu-vertical a:hover {
  background: none;
}
.wy-breadcrumbs .bread-slash {
  color: #ccc;
  margin-left: 5px;
  margin-right: 5px;
}
.wy-breadcrumbs-aside a {
  -webkit-font-smoothing: auto;
}
#mkdocs-search-results {
  min-height: 300px;
}
#mkdocs-search-results p {
  margin-top: 50px;
  color: #999;
}
code {
  border: solid 1px #eceff4;
  font-size: 100%;
  margin-left: 5px;
  margin-right: 5px;
  color: #f6695b;
  background: #fbfbfb;
  padding: 2px 5px;
  border-radius: 3px;
}
footer p {
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
}
footer p a {
  color: #999;
  margin-right: 15px;
}
footer p a:hover {
  color: #999;
  opacity: 0.8;
}
footer p a:visited {
  color: #999;
}
